#!name=10099_Advertise
#!desc=Ban advertise!!
#!author=livinmoon
#!homepage=https://github.com/livinmoon
#!icon=https://github.com/livinmoon/study/raw/main/Scripts/10099/10099.png

https://app.10099.com.cn/contact-web/api/version/getFlashScreenPage url reject
https://app.10099.com.cn/contact-web/api/content/qryPosterStand url script-response-body https://github.com/livinmoon/study/raw/main/Advertise/10099_Advertise.js

hostname = app.10099.com.cn